div {
    box-sizing: border-box;
}

#visual {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.card {
    border: 2px solid #000;
    border-radius: 5px;
    margin: 10px;
    min-width: 33%;
    padding: 5px;
}


.card .header {
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    text-align: center;
}

.card .body ul {
    padding:2px 5px;
    margin:0;
}

.card li.item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.card > .footer {

}

.card .item .prefix {

}

.card .item .value {

}